@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../assets/fonts/Inter-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../assets/fonts/Inter-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(../assets/fonts/Inter-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --main-font-size: 17px;
    --dark-color: #2E323F;
    --light-dark-color: #3B4050;
    --transparent-light-dark-color: rgba(59, 64, 80, 0.05);
    --light-color: #F1F1F1;
    --accent-color: #A59678;
    
}

html {
    box-sizing: border-box;
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style-type: none;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--light-color);
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--light-color);
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.25;
    color: var(--light-color);
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--accent-color);
}

h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--accent-color);
}

.container {
    min-width: 310px;
    margin: 0 auto;
    padding: 0 25px;

    border: 1px solid red;
}

.header {
    min-height: 56px;
    background-color: var(--dark-color);
}

.nav {
    margin: 16px 25px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    color: #F1F1F1;
}

.nav-list {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.nav-list__item:hover,
.info__list-item:hover {
    transition: all .2s ease;
    transform: scale(0.95);
    color: var(--accent-color);
    cursor: pointer;
}

.hero {
    background-color: var(--light-dark-color);
}

.hero__wrap {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 48px 0;
    color: var(--light-color);

    /* border: 1px solid greenyellow; */
}

.hero__description {
    margin-top: 26px;
}

.hero__description-text {
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 24px;
}

.hero__btn {
    width: 145px;
    height: 40px;
    margin-top: 24px;
    border-radius: 16px;
    border: none;
    background: var(--accent-color);
    
}

.hero__btn:hover {
    transition: all .2s ease;
    transform: scale(0.95);
    opacity: 0.8;
    cursor: pointer;
}

.hero__btn-text {
    padding: 0 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--light-color);
}

.features {
    background-color: var(--transparent-light-dark-color);
}

.features__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 48px 0 8px;
    color: var(--dark-color);

    border: 1px solid green;
}

.feature-item {
    margin-bottom: 40px;
}

.feature__sub-title {
    margin-bottom: 16px;
    
}

.feature-text {
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 24px;
}

.article__wrap {
    padding: 48px 0;
    align-items: flex-start;

    border: 1px solid green;
}

.article__content {
    margin-bottom: 64px;
}

.sub-title {
    margin-bottom: 24px;
}

.article__content-item {
    color: var(--dark-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 4px;
}

.article__img {
    background-image: url(../assets/img/image-deck.jpg);
    width: 100%;
    height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: none;
    margin: 40px 0;
}

.article__steps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.step {
    padding: 32px;
    text-align: center;
    background-color: var(--light-dark-color);
    color: var(--light-color);
}

.step-title {
    margin-bottom: 24px;
    color: var(--light-color);
}

.step-text {
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 24px;
}

.footer {
    background-color: var(--light-dark-color);
}

.footer__wrap {
    padding: 72px 0 40px;
    border: 1px solid green;
}

.contacts {
    margin-bottom: 40px;
}

.info__item {
    font-size: var(--main-font-size);
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
    margin-bottom: 32px;
}
.info__item-title {
    margin-bottom: 12px;
}
.info__item-text {
}
.info__list {
}
.info__list-item:not(:last-child) {
    margin-bottom: 12px;
}

@media (min-width: 1024px) {
        .container {
        max-width: 1600px;
        padding: 0 64px;
    }
        .header {
        min-height: 88px;
    }
        .nav {
        margin: 32px 0;
    }
    .nav-list {
        justify-content: flex-end;
    }
    .hero__wrap {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 128px 0;
    }
    .title {
        width: 50%;
        padding: 0 5%;
        font-size: 64px;
        line-height: 72px;
    }
    .hero__description {
        width: 50%;
        padding: 40px 13%;
        margin: 0;
    }
    .features__wrap {
        flex-direction: row;
        justify-content: space-between;
        gap: 13%;
        padding: 64px 0 24px;
    }
    .sub-title {
        margin-bottom: 32px;
    }
    .article__wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 64px 0;
        gap: 8%;
    }
    .article__content {
        margin-bottom: 0;
    }
    .article__img {
        height: 526px;
        margin: 48px 0;
    }
    .step {
        width: 312px;
    }
    .footer__wrap {
        padding: 96px 0;
    }
    .contacts {
        text-align: center;
        margin-bottom: 64px;
        font-size: 48px;
        line-height: 1.33;
    }
    .info {
        display: flex;
        justify-content: space-between;
    }
    .info__item:first-child {
        width: 25%;
    }
}